# Datasets
data/*.csv
data/*.xlsx
data/*.zip
data/*.parquet

# Keep documentation
!data/README.md
!data/README_DATASET.md

# Models
models/*.pkl
models/*.joblib

# Python
__pycache__/
.ipynb_checkpoints/

# Virtual environments
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
